<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/LayoutPadrao'">
	
<head>
	<title>Cadastro de Cervejas</title>
</head>

<body>

<!-- Início da inserção de Fragmento do Conteúdo da Página (Layout Padrão) -->
<section layout:fragment="conteudo">

	<!-- Início Título Cadastro Cerveja -->
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				<strong>Cadastro de Cerveja</strong>
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	<!-- Início Aviso de Erro -->
		<!-- <div class="alert  alert-danger  alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
	</div> -->
	<!-- Fim Aviso de Erro -->
	
		<!-- Início Formulário Cadastro Cerveja -->
		<form method="POST" th:object="${cerveja}" class="form-vertical  js-form-loading">
	
			<div class="row">
				<!-- Início Campo SKU -->
				<div class="col-sm-2  form-group">
					<label for="sku">SKU</label>
					<input id="sku" type="text" class="form-control"/>
				</div>
				<!-- Fim Campo SKU -->
				
				<!-- Início Campo Nome -->
				<div class="col-sm-10  form-group">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control"/>
				</div>
				<!-- Fim Campo Nome -->
			</div>

			<!-- Início Campo Descrição -->
			<div class="form-group">
				<label for="descricao">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control"></textarea>
			</div>
			<!-- Fim Campo Descrição -->

			<div class="row">
				<!-- Início Campo Estilo -->
				<div class="col-sm-3  form-group">
					<label for="estilo">Estilo</label>
					<div class="bw-field-action">
						<select id="estilo" class="form-control">
							<option value="">Selecione o estilo</option>
						</select>
						
						<!-- Início Botão de Adicionar Estilo Rápido-->
						<div class="bw-field-action__icon">
							<!-- Início do modal para o Botão Adicionar Estilo Rápido -->
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
								<i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
							</a>
							<!-- Fim do modal para o Botão Adicionar Estilo Rápido -->
						</div>
						<!-- Fim Botão de Adicionar Estilo Rápido-->
					</div>
				</div>
				<!-- Fim Campo Estilo -->
				
				<!-- Início Campo Sabor -->
				<div class="col-sm-3  form-group">
					<label for="sabor">Sabor</label>
					<select id="sabor" class="form-control">
						<option value="">Selecione o sabor</option>
						<option value="1">Adocicada</option>
					</select>
				</div>
				<!-- Fim Campo Sabor -->
				
				<!-- Início Campo Teor Alcoólico -->
				<div class="col-sm-3  form-group">
					<label for="teorAlcoolico">Teor alcoólico</label>
					<div class="input-group">
						<input id="teorAlcoolico" type="text" class="form-control  js-decimal"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>
				<!-- Fim Campo Teor Alcoólico -->
				
				<!-- Início Campo Origem -->
				<div class="col-lg-3  col-sm-6  form-group">
					<label for="origem">Origem</label>
					<div>
						<div class="radio  radio-inline">
							<input type="radio" name="origem"> 
							<label>Nacional</label>
						</div>
						<div class="radio  radio-inline">
							<input type="radio" name="origem"> 
							<label>Internacional</label>
						</div>
					</div>
				</div>
				<!-- Fim Campo Origem -->
			</div>
			
			<div class="row">
				<!-- Início Campo Preço -->
				<div class="col-sm-3  form-group">
					<label for="preco">Preço</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="preco" type="text" class="form-control  js-decimal"/>
					</div>
				</div>
				<!-- Fim Campo Preço -->
				
				<!-- Início Campo Comissão -->
				<div class="col-sm-3  form-group">
					<label for="comissao">Comissão</label>
					<div class="input-group">
						<input id="comissao" type="text" class="form-control  js-decimal"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>
				<!-- Fim Campo Comissão -->
				
				<!-- Início Campo Estoque -->
				<div class="col-sm-3  form-group">
					<label for="estoque">Estoque</label>
					<input id="estoque" type="text" class="form-control  js-plain"/>
				</div>
				<!-- Fim Campo Estoque -->
			</div>
			
			<!-- Início Botão Salvar -->
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
			<!-- Fim Botão Salvar -->
		</form>
		<!-- Fim Formulário Cadastro Cerveja -->
	</div>
	
	<!-- Início do Modal modalCadastroRapidoEstilo -->
	<div th:replace="estilo/CadastroRapidoEstilo :: modal"></div>
	<!-- Fim do Modal modalCadastroRapidoEstilo -->
	
</section>
<!-- Fim da inserção de Fragmento do Conteúdo da Página (Layout Padrão) -->
	
</body>
</html>