<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/LayoutPadrao'"
	  xmlns:brewer="http://brewer.algaworks.com">
	
<head>
	<title>Cadastro de Cervejas</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>

<body>

<!-- Início da inserção de Fragmento do Conteúdo da Página (Layout Padrão) -->
<section layout:fragment="conteudo">

	<!-- Início Título Cadastro Cerveja -->
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>
						<strong>Cadastro de Cerveja</strong>
					</h1>
				</div>
				
					<!-- Início Botão Cadastrar Nova Cerveja -->
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<!-- Problemas no acesso a página do th:href=${/cervejas}-->
							<a class="btn  btn-default" th:href="@{/cervejas?page=0&sort=sku,asc}"> 
								<i class="glyphicon  glyphicon-plus-sign"></i><span class="hidden-xs  hidden-sm"> Pesquisa Cerveja</span>
							</a>
						</div>
					</div>
					<!-- Fim Botão Cadastrar Nova Cerveja -->
				</div>
		</div>
	</div>

	<div class="container-fluid">
	
	
		<!-- Início Formulário Cadastro Cerveja -->
		<form method="POST" th:object="${cerveja}" class="form-vertical  js-form-loading">
		
			<!-- Início Aviso de Mensagens de Sucesso e Erro -->
			<th:block th:insert="fragments/MensagemSucesso"></th:block>
			<th:block th:insert="fragments/MensagensErroValidacao"></th:block>
			<!-- Fim Aviso de Mensagens de Sucesso e Erro -->
		
			<div class="row">
				<!-- Início Campo SKU -->
				<div class="col-sm-2  form-group   bw-required" th:classappend="${#fields.hasErrors('sku')} ? has-error">
					<label for="sku" class="control-label">SKU</label>
					<input id="sku" type="text" class="form-control" th:field="*{sku}"/>
				</div>
				<!-- Fim Campo SKU -->
				
				<!-- Início Campo Nome -->
				<div class="col-sm-10  form-group  bw-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
				<!-- Fim Campo Nome -->
			</div>

			<!-- Início Campo Descrição -->
			<div class="form-group  bw-required" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
				<label for="descricao" class="control-label">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
			</div>
			<!-- Fim Campo Descrição -->

			<div class="row">
				<!-- Início Campo Estilo -->
				<div class="col-sm-3  form-group  bw-required" th:classappend="${#fields.hasErrors('estilo')} ? has-error">
					<label for="estilo" class="control-label">Estilo</label>
					<div class="bw-field-action">
						<select id="estilo" class="form-control" th:field="*{estilo}">
							<option value="">Selecione o estilo</option>
							<option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}"></option>
						</select>
						
						<!-- Início Botão de Adicionar Estilo Rápido-->
						<div class="bw-field-action__icon">
							<!-- Início do modal para o Botão Adicionar Estilo Rápido -->
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
								<i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
							</a>
							<!-- Fim do modal para o Botão Adicionar Estilo Rápido -->
						</div>
						<!-- Fim Botão de Adicionar Estilo Rápido-->
					</div>
				</div>
				<!-- Fim Campo Estilo -->
				
				<!-- Início Campo Sabor -->
				<div class="col-sm-3  form-group  bw-required" th:classappend="${#fields.hasErrors('sabor')} ? has-error">
					<label for="sabor" class="control-label">Sabor</label>
					<select id="sabor" class="form-control" th:field="*{sabor}">
						<option value="">Selecione o sabor</option>
						<option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}">Adocicada</option>
					</select>
				</div>
				<!-- Fim Campo Sabor -->
				
				<!-- Início Campo Teor Alcoólico -->
				<div class="col-sm-3  form-group  bw-required" th:classappend="${#fields.hasErrors('teorAlcoolico')} ? has-error">
					<label for="teorAlcoolico" class="control-label">Teor alcoólico</label>
					<div class="input-group">
						<input id="teorAlcoolico" type="text" class="form-control  js-decimal" th:field="*{teorAlcoolico}"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>
				<!-- Fim Campo Teor Alcoólico -->
				
				<!-- Início Campo Origem -->
				<div class="col-lg-3  col-sm-6  form-group  bw-required" th:classappend="${#fields.hasErrors('origem')} ? has-error">
					<label for="origem" class="control-label">Origem</label>
					<div>
						<th:block th:each="origem : ${origens}">
							<div class="radio  radio-inline">
								<!-- th:id="|id_${origem}|" irá concatenar o id ao objeto origem -->
								<input th:id="|id_${origem}|" type="radio" th:value="${origem}" th:field="*{origem}"> 
								<label th:for="|id_${origem}|" th:text="${origem.descricao}">Nacional</label>
							</div>
						</th:block>
					</div>
				</div>
				<!-- Fim Campo Origem -->
			</div>
			
			<div class="row">
				<!-- Início Campo Preço -->
				<div class="col-sm-3  form-group  bw-required" th:classappend="${#fields.hasErrors('valor')} ? has-error">
					<label for="valor" class="control-label">Valor</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valor" type="text" class="form-control  js-decimal" th:field="*{valor}"/>
					</div>
				</div>
				<!-- Fim Campo Preço -->
				
				<!-- Início Campo Comissão -->
				<div class="col-sm-3  form-group  bw-required" th:classappend="${#fields.hasErrors('comissao')} ? has-error">
					<label for="comissao" class="control-label">Comissão</label>
					<div class="input-group">
						<input id="comissao" type="text" class="form-control  js-decimal" th:field="*{comissao}"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>
				<!-- Fim Campo Comissão -->
				
				<!-- Início Campo Estoque -->
				<div class="col-sm-3  form-group  bw-required" th:classappend="${#fields.hasErrors('quantidadeEstoque')} ? has-error">
					<label for="estoque" class="control-label">Estoque</label>
					<input id="estoque" type="text" class="form-control  js-plain" th:field="*{quantidadeEstoque}"/>
				</div>
				<!-- Fim Campo Estoque -->
			</div>
			
			<!-- Início Botão de Upload de Arquivos (Imagens) -->
			<div class="row">
				<div class="form-group  col-sm-12">
					<!-- Informações que serão adicionadas no Banco de Dados -->
					<input type="hidden" th:field="*{foto}"/>
					<input type="hidden" th:field="*{contentType}"/>
				
					<label class="control-label">Foto</label>
					
					<div class="js-container-foto-cerveja" th:attr="data-url-fotos=@{/fotos}">
						<div id="upload-drop" class="bw-upload">
							<i class="glyphicon  glyphicon-cloud-upload"></i>
							<span>Arraste a foto aqui ou </span>
							<a class="bw-upload-form-file">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Fim Botão de Upload de Arquivos (Imagens) -->
			
			<!-- Início Botão Salvar -->
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
			<!-- Fim Botão Salvar -->
		</form>
		<!-- Fim Formulário Cadastro Cerveja -->
	</div>
	
	<!-- Início do Modal modalCadastroRapidoEstilo -->
	<div th:replace="estilo/CadastroRapidoEstilo :: modal"></div>
	<!-- Fim do Modal modalCadastroRapidoEstilo -->
	
	<!-- Início do Handlebars -->
	<th:block th:replace="hbs/FotoCerveja"></th:block>
	<!-- Fim do Handlebars -->
	
</section>
<!-- Fim da inserção de Fragmento do Conteúdo da Página (Layout Padrão) -->
	
<!-- Início Fragmento de CSS para o Modal de Cadastro de Estilo Rápido -->	
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/estilo.cadastro-rapido.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/cerveja.upload-foto.js}"></script>
	
</th:block>
<!-- Fim Fragmento de CSS para o Modal de Cadastro de Estilo Rápido -->	
	
</body>
</html>